/* Variables*/
/* Gray and Brand Colors for use across theme*/
.navbar {
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif; }

.section-gray {
  background-color: #F5F5F5; }

.section {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 70px; }

hr.divider-line {
  max-width: 250px;
  margin: 10px auto 15px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 3px; }

.title {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase; }

.title-desc {
  font-size: 2em;
  font-style: italic;
  font-weight: 100; }

/* Styling for the navbar*/
#mainNav {
  font-weight: 300;
  text-transform: uppercase;
  background: #2C3E50;
  padding: 0 10px; }
  #mainNav .last-name {
    color: #18BC9C; }
  #mainNav .navbar-brand {
    font-size: 1.1rem;
    color: white; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: white; }
  #mainNav .navbar-nav {
    letter-spacing: 1px; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      padding: 20px;
      color: white;
      -webkit-transition: 0.5s ease-out;
      transition: 0.5s ease-out; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        background-color: #18BC9C;
        outline: none; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: white; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    margin: 11px 0;
    text-transform: uppercase;
    color: white;
    border-color: white; }
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
      color: white;
      border-color: #18BC9C;
      background-color: #18BC9C; }

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      background: #18BC9C; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: white;
        background: #18BC9C; } }
#intro-page {
  background-color: #2C3E50; }
  #intro-page .content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white; }
    #intro-page .content .roles {
      font-size: 1.8em;
      font-weight: 100; }
    #intro-page .content .social-media .fa {
      font-size: 2em;
      color: #FFF;
      font-weight: bold; }
    #intro-page .content .social-media .btn {
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 20px;
      width: 76px;
      height: 76px;
      margin: 30px 10px 20px 10px; }
    #intro-page .content .social-media .btn:hover {
      background-color: white;
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg); }
    #intro-page .content .social-media .btn:hover .fa-linkedin {
      color: #007BB5; }
    #intro-page .content .social-media .btn:hover .fa-github {
      color: #000000; }
    #intro-page .content .social-media .btn:hover .fa-envelope {
      color: #DD4B39; }
    #intro-page .content .cv-button {
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out;
      border: 2px solid #fff;
      font-size: 1.5em;
      cursor: pointer;
      color: white; }
      #intro-page .content .cv-button:hover {
        background-color: #fff;
        color: #2C3E50; }
  #intro-page #point-down {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 3em;
    color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-transform: translate(50%, 30%);
    transform: translate(50%, 30%); }

#about-page {
  padding-bottom: 100px; }
  #about-page .text-editor {
    width: 500px;
    margin: 100px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 700px) {
      #about-page .text-editor {
        width: 250px; } }
    #about-page .text-editor .text-editor-top {
      position: relative;
      background-color: #CCC;
      padding: 5px;
      border-radius: 5px 5px 0 0; }
      #about-page .text-editor .text-editor-top .buttons {
        position: absolute;
        top: 10px;
        left: 5px; }
      #about-page .text-editor .text-editor-top #button1, #about-page .text-editor .text-editor-top #button2, #about-page .text-editor .text-editor-top #button3 {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        float: left;
        margin: auto 3px;
        vertical-align: middle; }
      #about-page .text-editor .text-editor-top #button1 {
        background-color: #E53935; }
      #about-page .text-editor .text-editor-top #button2 {
        background-color: #FF8F00; }
      #about-page .text-editor .text-editor-top #button3 {
        background-color: #4CAF50; }
    #about-page .text-editor .text-editor-bottom {
      background-color: #2C3E50;
      padding: 20px;
      border-radius: 0 0 5px 5px;
      color: white; }
  #about-page .hobbies {
    width: 100%;
    padding-top: 50px; }
    #about-page .hobbies > div {
      display: inline-block;
      height: 250px;
      width: 250px;
      padding: 15px;
      overflow: hidden; }
    #about-page .hobbies i {
      font-size: 3em;
      margin-bottom: 20px; }

#skills-page {
  padding-bottom: 100px;
  /* .col{*/
  /* 	border-right: 1px solid white;*/
  /* }*/ }
  #skills-page .divider-line {
    margin-bottom: 100px; }
  #skills-page .languages-title {
    text-align: left;
    font-size: 2em;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 20px; }
  #skills-page .language-flag {
    margin: 25px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent no-repeat center;
    background-size: cover; }
  #skills-page .english {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png"); }
  #skills-page .french {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png"); }
  #skills-page .arabic {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_Arab_League_%281.2%29.svg/640px-Flag_of_the_Arab_League_%281.2%29.svg.png"); }
  #skills-page .spanish {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png"); }
  #skills-page .japanese {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1200px-Flag_of_Japan.svg.png"); }
  #skills-page .col-last {
    border-right: none; }
  #skills-page .languages {
    color: #FFF;
    padding: 25px;
    margin: 50px 0;
    background-color: #2c3e4f;
    -webkit-box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.4);
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.4); }
    #skills-page .languages .proficiency {
      font-size: 1.5em;
      padding: 15px 15px 0px 15px; }
    #skills-page .languages .divider-line-level {
      max-width: 50px;
      margin: 0 auto 15px;
      padding: 0;
      text-align: center;
      border: none;
      border-top: solid 1px; }
    #skills-page .languages .skill-item {
      margin-top: 15px;
      text-align: left;
      padding: 15px; }
    #skills-page .languages .skill-img {
      width: 50xp;
      height: 50px; }
    #skills-page .languages .skill-item > * {
      display: inline-block; }

/* colour stuff*/
#projects-page {
  padding-bottom: 100px; }
  #projects-page .projects {
    margin-top: 100px; }
    #projects-page .projects.showing > .project {
      cursor: pointer;
      opacity: 0.6;
      -webkit-transform: scale(0.88);
      transform: scale(0.88);
      z-index: -10;
      position: relative; }
    #projects-page .projects .project {
      margin: 25px;
      pading: 15px;
      height: 320px;
      width: 330px;
      display: inline-block;
      text-align: left;
      box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.3s 0s ease-in;
      transition: all 0.3s 0s ease-in; }
    #projects-page .projects .project-img {
      height: 220px;
      background: #DDD; }
    #projects-page .projects .project-blueprint {
      background-image: url(../img/blueprint.png);
      background-size: contain; }
    #projects-page .projects .project-misn {
      background-image: url(../img/misn.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center; }
    #projects-page .projects .project-immersed {
      background-image: url(../img/immersed.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center; }
    #projects-page .projects .project-quoteme,
    #projects-page .projects .project-sorbere,
    #projects-page .projects .project-susume {
      background-image: url(../img/null.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center; }
    #projects-page .projects .project-title {
      position: relative;
      background-color: #ffffff;
      height: 100px;
      overflow: hidden;
      padding: 10px 15px; }
      #projects-page .projects .project-title small {
        padding-top: 5px; }
      #projects-page .projects .project-title .used-technologies {
        height: 30px; }
        #projects-page .projects .project-title .used-technologies > * {
          width: 30px;
          height: 30px;
          display: inline-block;
          padding: 5px; }
      #projects-page .projects .project-title .toggle-info {
        background: #18BC9C;
        -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
        border-radius: 32px;
        height: 32px;
        width: 32px;
        position: absolute;
        right: 15px;
        top: 5px; }
        #projects-page .projects .project-title .toggle-info span {
          background: #ffffff;
          height: 2px;
          position: absolute;
          top: 16px;
          -webkit-transition: all 0.15s 0s ease-out;
          transition: all 0.15s 0s ease-out;
          width: 12px; }
        #projects-page .projects .project-title .toggle-info span.line-left {
          right: 14px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        #projects-page .projects .project-title .toggle-info span.line-right {
          left: 14px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      #projects-page .projects .project-title h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0; }
        #projects-page .projects .project-title h2 small {
          display: block;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.025em; }
    #projects-page .projects div.project-description {
      position: relative;
      font-size: 14px; }
      #projects-page .projects div.project-description .flap {
        background: #d9d9d9;
        position: absolute;
        width: 100%;
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5); }
      #projects-page .projects div.project-description .flap-description {
        padding: 0 15px; }
      #projects-page .projects div.project-description .flap1 {
        -webkit-transition: all 0.3s 0.3s ease-out;
        transition: all 0.3s 0.3s ease-out;
        z-index: -1; }
      #projects-page .projects div.project-description .flap2 {
        -webkit-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out;
        z-index: -2;
        padding-bottom: 15px; }
    #projects-page .projects .project.show {
      opacity: 1 !important;
      -webkit-transform: scale(1) !important;
      transform: scale(1) !important; }
      #projects-page .projects .project.show .project-title a.toggle-info {
        background: #ff6666 !important; }
        #projects-page .projects .project.show .project-title a.toggle-info span {
          top: 15px; }
        #projects-page .projects .project.show .project-title a.toggle-info span.line-left {
          right: 9px; }
        #projects-page .projects .project.show .project-title a.toggle-info span.line-right {
          left: 9px; }
      #projects-page .projects .project.show .flap {
        background: #ffffff;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg); }
      #projects-page .projects .project.show .flap1 {
        -webkit-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out; }
      #projects-page .projects .project.show .flap2 {
        -webkit-transition: all 0.3s 0.2s ease-out;
        transition: all 0.3s 0.2s ease-out; }

#timeline-page {
  padding-bottom: 100px; }
  #timeline-page .cv-button {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    border: 2px solid #2C3E50;
    color: #2C3E50;
    font-size: 1em;
    cursor: pointer; }
    #timeline-page .cv-button:hover {
      background-color: #2C3E50;
      color: #fff; }
  #timeline-page .timeline {
    margin-top: 100px;
    list-style: none;
    padding: 0;
    position: relative; }
  #timeline-page .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 6px;
    background-color: #2C3E50;
    left: 40px;
    margin-left: -1.5px; }
  #timeline-page .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
  #timeline-page .timeline > li:before,
  #timeline-page .timeline > li:after {
    content: " ";
    display: table; }
  #timeline-page .timeline > li:after {
    clear: both; }
  #timeline-page .timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left; }
  #timeline-page .timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  #timeline-page .timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; }
  #timeline-page .timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #2C3E50;
    color: white;
    border-radius: 100%;
    text-align: center;
    padding: 5px; }
  #timeline-page .timeline > li .timeline-image > img {
    width: 100%;
    height: 100%; }
  #timeline-page .timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px; }
  #timeline-page .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px; }
  #timeline-page .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  #timeline-page .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; }
  #timeline-page .timeline > li:last-child {
    margin-bottom: 0; }
  #timeline-page .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
  #timeline-page .timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #666; }
  #timeline-page .timeline .timeline-body > p,
  #timeline-page .timeline .timeline-body > ul {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    #timeline-page .timeline:before {
      left: 50%; }
    #timeline-page .timeline > li {
      margin-bottom: 100px;
      min-height: 100px; }
    #timeline-page .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    #timeline-page .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
    #timeline-page .timeline > li .timeline-image h4 {
      font-size: 13px;
      margin-top: 16px;
      line-height: 18px; }
    #timeline-page .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }
  @media (min-width: 992px) {
    #timeline-page .timeline > li {
      min-height: 150px; }
    #timeline-page .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    #timeline-page .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
    #timeline-page .timeline > li .timeline-image h4 {
      font-size: 18px;
      margin-top: 30px;
      line-height: 26px; }
    #timeline-page .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
  @media (min-width: 1200px) {
    #timeline-page .timeline > li {
      min-height: 170px; }
    #timeline-page .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    #timeline-page .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
    #timeline-page .timeline > li .timeline-image h4 {
      margin-top: 40px; }
    #timeline-page .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

#contact-page {
  min-height: 0;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: #2C3E50;
  color: white; }
  #contact-page .section-title {
    font-size: 5em; }
  #contact-page .section-secondary-text {
    font-size: 1.5em;
    font-style: italic;
    padding: 0 25px; }
  #contact-page .contact-button {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    display: inline-block;
    margin: 50px 0 25px 0;
    background-color: #2C3E50;
    color: #18BC9C;
    font-size: 1.5em;
    font-weight: 400;
    padding: 15px;
    border: 2px solid #18BC9C;
    cursor: pointer; }
  #contact-page .contact-button:hover {
    color: #2C3E50;
    background-color: #18BC9C; }
  #contact-page .bounceInDown {
    z-index: 3; }

/*# sourceMappingURL=styles.css.map */
