#about-page{

	padding: 50px 0;
	text-align: center;

	.about-header {
		font-size: 1.5em;
		font-weight: bold;
		letter-spacing: 2px;
		width: 75%;
		max-width: 600px;
		margin: 15px auto;
	
		@media screen and (max-width: $break-small) {
			font-size: 1em;
		}
	}

	.about-avatar {
		width: 75%;
		min-width: 200px;
		max-width: 400px;
		border-radius: 0 0 50%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

		.about-img {
			width: 100%;
			z-index: 3;
			position: relative;
		}
	}

	.about-process {
		margin: 100px 0 20px;
	}

	.about-steps {
		width: 100%;
		max-width: 1200px;
		margin: 50px auto;
		margin-bottom: 50px;
		display: flex;

		@media screen and (max-width: 1215px) {
			flex-direction: column;
			align-items: center;
		}

		.about-step {
			width: 350px;
			margin: 25px;
			padding: 25px;
			border:1px solid $theme-primary;

			& > div {
				padding-top: 25px;
			}

			& > h3 {
				font-weight: bold;
			}
		}

		hr {
			border-top: 0;
		}
	}

	.divider-line {
		max-width: 150px;
	}

	.contact-button{
		-webkit-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		display: inline-block;
		margin: 0 0 25px 0;
		color: $theme-success;
		font-size: 1.5em;
		font-weight: 400;
		padding: 15px;
		border: 2px solid $theme-success;
		cursor: pointer;
	}

	.contact-button:hover{
		color: white;
		background-color: $theme-success;
		text-decoration: none;
	}

	.bounceInDown{
		z-index: 3;
	}
}