#contact-page{
	min-height: 0;
	padding-bottom: 50px;
	overflow: hidden;
	background-color: $theme-primary;
	color: white;

	.section-title{
		font-size: 5em;
		@media screen and (max-width: $break-small) {
			font-size: 3.3em;
		}
	}

	.section-secondary-text{
		font-size: 1.5em;
		font-style: italic;
		padding: 0 25px;
	}

	.contact-button{
		-webkit-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		display: inline-block;
		margin: 50px 0 25px 0;
		background-color: $theme-primary;
		color: $theme-success;
		font-size: 1.5em;
		font-weight: 400;
		padding: 15px;
		border: 2px solid $theme-success;
		cursor: pointer;
	}

	.contact-button:hover{
		color: $theme-primary;
		background-color: $theme-success;
	}

	.bounceInDown{
		z-index: 3;
	}
}