html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.section-gray{
	background-color: $gray-background;
}

.section{
	min-height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

hr.divider-line {
  max-width: 250px;
  margin: 10px auto 15px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 3px;
}

.title {
	font-size: 3em;
	font-weight: 300;
	letter-spacing: 3px;

	text-transform: uppercase;
}

.title-desc{
	font-size: 2em;
	font-style: italic;
	font-weight: 100;
}