#intro-page{
	background-color: $theme-primary;

	.content {
		position: absolute;
		top: 50%;
		width: 100%;
		-webkit-transform: translate(0, -50%);
		        transform: translate(0, -50%);
		color: white;

		.roles {
			font-size: 1.8em;
			font-weight: 100;

			@media screen and (max-width: $break-small) {
				font-size: 1.5em;
			}
		}

		.social-media{
			.fa{
				font-size: 2em;
				color: #FFF;
				font-weight: 600;
			}

			.btn{
				-webkit-transition: 0.4s ease-out;
				transition: 0.4s ease-out;
				border: 2px solid #fff;
				border-radius: 50%;
			    padding: 20px;
			    width: 76px;
			    height: 76px;
			    margin: 30px 10px 20px 10px;
			}
			.btn:hover{
				background-color: white;
			}
			.btn:hover .fa-linkedin{
				color: $linkedin-blue;
			}

			.btn:hover .fa-github{
				color: $github-black;
			}

			.btn:hover .fa-envelope{
				color: $gmail-red;
			}
		}

		.cv-button{
			-webkit-transition: 0.4s ease-out;
			transition: 0.4s ease-out;
			border: 2px solid $theme-success;
			font-size: 1.5em;
			cursor: pointer;
			color: $theme-success;

			&:hover{
				background-color: $theme-success;
				color: white;
			}
		}

	}

	#point-down{
		-webkit-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		position: absolute;
		bottom: 0;
		right: 50%;
		font-size: 3em;
		color: white;
		width: 100px;
	    height: 100px;
	    cursor: pointer;
	    -webkit-transform: translate(50%, 30%);
        transform: translate(50%, 30%);

	}


}