#intro-page{
	background-color: $theme-primary;

	.content {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translate(0, -50%);
		color: white;

		.roles {
			font-size: 1.8em;
			font-weight: 100;
		}

		.social-media{
			.fa{
				font-size: 2em;
				color: #FFF;
				font-weight: bold;
			}

			.btn{
				border: 2px solid #fff;
				border-radius: 50%;
			    padding: 20px;
			    width: 76px;
			    height: 76px;
			    margin: 30px 10px 20px 10px;
			}
			.btn:hover{
				background-color: white;
				transition: transform 0.4s ease-out;
			    transform: rotateZ(360deg);
			}
			.btn:hover .fa-linkedin{
				color: $linkedin-blue;
			}

			.btn:hover .fa-github{
				color: $github-black;
			}

			.btn:hover .fa-envelope{
				color: $gmail-red;
			}
		}

		.cv-button{

			border: 2px solid #fff;
			font-size: 1.5em;
			cursor: pointer;

			&:hover{
				background-color: #fff;
				color: $theme-primary;
			}
		}

	}

	#point-down{
		transition: 0.4s ease-out;
		position: absolute;
		bottom: 30px;
		right: 50%;
		font-size: 3em;
		color: white;
		width: 100px;
	    height: 100px;
	    cursor: pointer;
	    transform: translate(50%, 0);

	}


}