/* Variables*/

/* Gray and Brand Colors for use across theme*/

$theme-primary: #2C3E50;
$theme-success: #18BC9C;

$gray-base: #DDD;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

$gray-background: #F5F5F5;

$linkedin-blue: #007BB5;
$github-black: #000000;
$gmail-red: #DD4B39;

$break-tiny: 320px;
$break-small: 700px;
$break-meidum: 1000px;
$break-large: 1200px;