body {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px 0 0 40px;
}

.input-dropdown {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  width: 350px;
}

.input-dropdown input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  padding: 5px;
}

.input-dropdown ul {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.input-dropdown ul > li {
  cursor: pointer;
  padding: 10px;
  transition: background .15s;
}

.input-dropdown ul > li.active {
  background: #608AEB;
}


